@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: 'Roboto Mono', sans-serif;
}

ul  {
  margin: 34px 0px;
  padding: 0;
  display: flex;
  column-gap: 6%;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 28px;
}

nav ul li a:hover {
  text-decoration: underline #333333;
} 

.contact-geral {
  margin: 90px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg-linha svg{
  padding: 0 20%;
}

.text-contact {
  width: 33%;
}

.imgs-contact img{
  margin-right: 15px;
}

.text-contact h1 {
  text-align: left;
  width: 120%;
  font-size: 60px;
}

.inputs-contacts {
  display: flex;
  flex-direction: column;
  width: 29%;
}

.num-img {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 2%;

}

.inputs-contacts div input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.input-contacts-labels-inputs {
  /* display: flex; */
  
}

.input-contacts-labels-inputs label {
  font-size: 26px;
}

.input-contacts-labels-inputs-msg label { 
  font-size: 26px;
}

.button_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 70%;
  padding: 10px;
  background-color: #6a74f9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.button_contact:hover {
  background-color: #5a64d9;
  text-decoration: underline;
}

.input-contacts-labels-inputs-msg input{
  height: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.card-social{
  padding: 23px;
  border-radius: 16px;
}
.SocialMidia{
  display: flex;
  flex-direction: row;
  gap: 33px;
  margin: 0 4%;
}
.card-social h5{
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 0 0;

}
.card-social p{
  font-size: 18px;
  font-weight: 400;
  line-height: 23.74px;
  text-align: left;

}
.card-social h3{
  color: white;
  font-size: 64px;
  font-weight: 400;
  line-height: 84.41px;
  text-align: left;
  margin: 0;
}
.card-social img{
  width: 32px;
  height: 32px;
}

.TxtImg {
  display: flex;
  justify-content: space-between;
  margin: 0 4% 2% 4%;
}

.img-textimg img{
  width: 100%;
}

.texto-2 {
  width: 45%;
}

.TxtImg h1{
  font-size: 60px;
  text-align: left;
}
.TxtImg p{
  font-size: 24px;
  text-align: left;
}
.TxtImg button{
  font-size: 24px;
  text-align: left;
  border-radius: 40px;
  padding: 4% 11%;
  background-color: #333333;
  color: white;
}

.TxtImg button:hover{
  background-color: #3f3f3f;
  text-decoration: underline;
}

.SobreTxt {
  width: 60%;
}

.SobreTxt h1{
  font-size: 60px;
  text-align: left;
}
.SobreTxt p{
  font-size: 18px;
  text-align: left;
}
 
.SobreTxt button {
  font-size: 24px;
  text-align: left;
  border-radius: 40px;
  padding: 24px 56px;
  background-color: #333333;
  color: white;
}

.SobreTxt button:hover{
  background-color: #3f3f3f;
  text-decoration: underline;
}

.SobreImg {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}

.SobreImg img{
  height: 91%;
}

.texto-1 {
  width: 61%;
}

.parte1sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 4% 2% 4%;
}

.img-1 {
  margin-right: 5%;
}
