@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: 'Roboto Mono', sans-serif;
}

ul  {
  margin: 34px 0px;
  padding: 0;
  display: flex;
  column-gap: 6%;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 28px;
}

nav ul li a:hover {
  text-decoration: underline #333333;
} 

.contact-geral {
  margin: 90px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg-linha svg{
  padding: 0 20%;
}

.text-contact {
  width: 33%;
}

.imgs-contact img{
  margin-right: 15px;
}

.text-contact h1 {
  text-align: left;
  width: 120%;
  font-size: 60px;
}

.inputs-contacts {
  display: flex;
  flex-direction: column;
  width: 29%;
}

.inputs-contacts div input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.button_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 70%;
  padding: 10px;
  background-color: #6a74f9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.button_contact:hover {
  background-color: #5a64d9;
  text-decoration: underline;
}

.input-contacts-labels-inputs-msg input{
  height: 100px;

}